// theme "tokyo-night-dark"

ui {
    pane_frames {
        rounded_corners true
    }
}

// Plugin aliases - can be used to change the implementation of Zellij
plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
    configuration location="zellij:configuration"
    plugin-manager location="zellij:plugin-manager"
    about location="zellij:about"

    zellij-pane-picker location="https://github.com/shihanng/zellij-pane-picker/releases/download/v0.6.0/zellij-pane-picker.wasm" {
        // list_panes ""
        // plugin_select_down "Ctrl n"
        // plugin_select_up "Ctrl p"
    }
}

// Plugins to load in the background when a new session starts
load_plugins {
    "https://github.com/dj95/zjstatus/releases/latest/download/zjframes.wasm" {
        hide_frame_for_single_pane       "false"
        hide_frame_except_for_search     "false"
        hide_frame_except_for_scroll     "false"
        hide_frame_except_for_fullscreen "false"
    }
    zellij-pane-picker
}

layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    // tab_template name="strider_tab" {
    //     pane size=1 borderless=true {
    //         plugin location="zellij:tab-bar"
    //     }
    //     pane split_direction="Vertical" {
    //         pane size="15%" {
    //             // TODO: when we support sending CWD to plugins, this should start in ./zellij-derver
    //             plugin location="zellij:strider"
    //         }
    //         children
    //     }
    //     pane size=2 borderless=true {
    //         plugin location="zellij:status-bar"
    //     }
    // }

    tab name="Home" split_direction="vertical" {
        pane
    }

    tab name="Dotfiles" split_direction="vertical" {
        pane
    }

    tab name="Agentic" split_direction="vertical" {
        pane
    }

    tab name="Divona" split_direction="vertical" {
        pane
    }

    tab name="Portefaix-K8s" split_direction="vertical" {
        pane
    }

    tab name="Portefaix-Infra" split_direction="vertical" {
        pane
    }

    tab name="Portefaix-Hub" split_direction="vertical" {
        pane
    }

    tab name="Portefaix-KRM" split_direction="vertical" {
        pane
    }

    tab name="Portefaix-Misc" split_direction="vertical" {
        pane
    }
}

// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
keybinds {
  shared_except "locked" {
    //   bind "Ctrl y" {
    //       LaunchOrFocusPlugin "file:~/.config/zellij/plugins/room.wasm" {
    //           floating true
    //           ignore_case true
    //           quick_jump true
    //       }
    //   }
      bind "Ctrl y" {
          LaunchOrFocusPlugin "zellij-pane-picker" {
              floating true; move_to_focused_tab true;
          }
      }
  }
}


session_name "core"
attach_to_session true
