# Copyright (C) 2016-2019 Nicolas Lamirault <nicolas.lamirault@gmail.com>

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[user]
	email = nicolas.lamirault@gmail.com
	name = Nicolas Lamirault
	signingkey = 6FCA437C

[color]
    ui = true
    diff = auto
    status = auto
    branch = auto

[alias]
        lgtree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
        lg = log --graph --format='%Cred%h%Creset %ad %C(bold cyan)%an%Creset - %s - %C(yellow)%d%Creset' --date=short --abbrev-commit
        lga = log --format='%Cred%h%Creset %ad %C(bold cyan)%an%Creset - %s%C(yellow)%d%Creset' --graph --date=short --abbrev-commit --all
        #lgme = log --since yesterday --oneline --author 'Nicolas Lamirault'
        lgme = log --oneline --author 'Your User'
        ucommits = shortlog -sn
        contributors = shortlog --summary --numbered

        cancel = reset --hard
        undo = revert HEAD
        diffstat = diff --stat -r
        whatsnew = !sh -c 'git log $1@{1}..$1@{0} "$@"'

        difforigin = diff origin/master..master

[giggle]
    main-window-maximized = false
	main-window-geometry = 1262x772+1861+210
	history-view-vpane-position = 301
	file-view-vpane-position = 346
	main-window-view = HistoryView

[core]
    editor = nvim
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes

	autocrlf = input
	safecrlf = true
	quotepath = false

[commit]
	gpgsign = true

[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true

[push]
	default = simple
