! Copyright 2016 Nicolas Lamirault <nicolas.lamirault@gmail.com>
!
! Licensed under the Apache License, Version 2.0 (the "License");
! you may not use this file except in compliance with the License.
! You may obtain a copy of the License at
!
!     http://www.apache.org/licenses/LICENSE-2.0
!
! Unless required by applicable law or agreed to in writing, software
! distributed under the License is distributed on an "AS IS" BASIS,
! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
! See the License for the specific language governing permissions and
! limitations under the License.

! ROFI
rofi.modi: window,run
rofi.font: InconsolataForPowerline Nerd Font 15
rofi.width: 50
rofi.lines: 5
rofi.columns: 1
rofi.opacity: 100
!                    bg       fg      altbg    hlbg     hlfg
rofi.color-normal: #263238, #eeffff, #263238, #4883ff, #eeffff
rofi.color-urgent: #263238, #eeffff, #263238, #4883ff, #eeffff
rofi.color-active: #263238, #eeffff, #263238, #4883ff, #eeffff
rofi.color-window: #263238, #4883ff, #4883ff
rofi.bw: 4
rofi.location: 0
rofi.padding: 10
rofi.fuzzy: true
rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.auto-select: false
rofi.terminal: st