[Desktop Entry]
Version=1.0
Type=Application
Name=Light-locker
Comment=light-locker
Exec=light-locker
Icon=light-locker
Terminal=false
StartupNotify=false
Categories=Application;
