//@theme "/home/nicolas/.local/share/rofi/themes/rounded-green-dark.rasi"
@theme "/home/nicolas/.local/share/rofi/themes/rounded-nord-dark.rasi"
//@theme "/home/nicolas/.local/share/rofi/themes/spotlight.rasi"
